header{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #57a0d3;
	height:60px;
	width: 100%;
	
}
main{
	min-height: 100vh;
}
nav{
	position: absolute;
	left: 0;
	margin-top:52px;
	padding-left: 20px;
	width: 100%;
	background-color: #95c8d8;

}
a{
	text-decoration:none;
	color: white;
}
#search_bar{
	position: absolute;
	left: 0;
	margin-top: 70px;
	padding-left: 20px;
	width: 100%;
	
	background-color:#b0dbe5;
}
#search_button{
	float: right;
margin-right: 40px;
margin-top: 4px;
height: 25px;
border-radius: 12px;
border:2px solid #4682b4;
	
}
#search_button:hover{
background-color: #81d8d0;
}
#search_input{
	float: right;
	width: 400px;
	height: 25px;
	margin-right: 10px;
	border:2px solid #4682b4;
}
footer{
	position: absolute;
	left: 0;
	width: 100%;
	
	background-color: #57a0d3;
}