header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #aeb4b7;
	
}
main{
	min-height: 100vh;
}
.logo{
	margin-left: 20px;
}
.search{
position: absolute;
left: 30%;
top: 15px;
}
.search input{
	width: 360px;
	height: 30px;
}
.search button{
	height: 35px;
}
.log_in{
	position: absolute;
	left: 70%;
	top: 15px;
	color: white;
}
nav{
	position: absolute;
	left: 0;
	top: 80px;
	width: 100%;
}
nav .items{
	margin-left: 20px;


}
.log_in a{
	text-decoration: none;
	color: white;

}
.log_in a:hover{
color: black;
}
footer{
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #aeb4b7;
}
footer p{
	margin-left: 20px;
}
